# Dependencies
node_modules/
**/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Build files
dist/
build/
coverage/

# Environment files
.env

# Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
